.navbar-default{
    background: linear-gradient(90deg,  rgb(255, 255, 255), rgb(239, 244, 244));
}
.navbar-brand{
    color: #D31212;
    font-style: italic;
    font-weight: bold;
}

img{
    height: 60px;  
    width: 60px;  
    
   
}

